.catalog {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 30px;
  background-color: $color-bg;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 50px;
    padding-top: 65px;
  }

  .catalog__list {
    display: flex;
    flex-direction: column;
  }
}
