.advantages {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  padding-top: 30px;
  background-color: #ffffff;
}

.advantages__wrapper {
  margin: 0;
  padding: 0 30px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  margin-bottom: 31px;
  padding-top: 52px;
  color: #000000;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--ecology::before {
    top: 0;
    left: 10px;
    width: 32px;
    height: 37px;
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--price::before {
    top: 0;
    left: 0;
    width: 47px;
    height: 27px;
    background-image: url("../img/icon-feature-money.svg");
  }

  &--like::before {
    top: 7px;
    left: 7px;
    width: 34px;
    height: 27px;
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade::before {
    top: 3px;
    left: 3px;
    width: 35px;
    height: 34px;
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--support::before {
    top: 5px;
    left: -5px;
    width: 55px;
    height: 23px;
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift::before {
    top: 3px;
    left: 3px;
    width: 33px;
    height: 32px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}


@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 25px;
    padding-top: 50px;
  }

  .advantages__wrapper {
    padding: 0;
  }

  .advantages__title {
    margin-bottom: 50px;

    font-size: 43px;
    line-height: 50px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 50%;
    margin-bottom: 60px;

    font-size: 20px;
    line-height: 22px;

    &--handmade {
      order: 1;
    }

    &--price {
      order: 2;
    }

    &--support {
      order: 3;
    }

    &--like {
      order: 4;
    }

    &--gift {
      order: 5;
    }
  }
}


@media (min-width: $desktop-width) {
  .advantages {
    margin-bottom: 30px;
    padding-top: 60px;
  }

  .advantages__title {
    font-size: 53px;
    line-height: 57px;
  }

  .advantages__wrapper {
    padding: 0 175px;
  }
}
