.contacts {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  background-color: #ffffff;
}

.contacts__wrapper {
  margin: 0;
  padding: 0 30px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts__list {
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background: none;
  border: none;

  &:last-of-type {
    margin: 0;
  }
}

.contacts__field,
.contacts__value {
  font-weight: 400;
  text-align: left;

  a {
    padding-bottom: 4px;

    border-bottom: 1px solid $color-primary;

    &:hover {
      color: $color-primary;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.contacts__field {
  width: 29%;
  vertical-align: top;
}

.contacts__map-container {
  position: relative;
  margin-top: 35px;
  margin-bottom: 40px;
  text-align: center;
}

.contacts__map-pin {
  position:absolute;
  top: 50%;
  left: 50%;
  width: 67px;
  height: 100px;
  margin-left: -33px;
  margin-top: -100px;
  background: url('../img/map-pin.svg') no-repeat 0 0;
  background-size: cover;
}

.contacts__map {
  vertical-align: middle;
}

.contacts__map-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 457px;
  border: none;
}

.contacts__write-us {
  width: 100%;
}


@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 60px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .contacts__title {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -13px;
      right: 5px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .contacts__list {
    width: 50%;
    font-size: 17px;
  }

  .contacts__field {
    width: 24%;
  }

  .contacts__map-container {
    margin-top: 55px;
    margin-bottom: 50px;
  }

  .contacts__map {
    width: 768px;
  }

  .contacts__write-us {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
}
