.main {
  display: block;

  margin: 0;
  padding: 0;

  background-color: $color-bg;
  background-image: url("../img/hero-mobile@1x.jpg"), linear-gradient(to bottom, #f9f9f9 285px, #ffffff 285px);
  background-position: 50% -20px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg"), linear-gradient(to bottom, #f9f9f9 285px, #ffffff 285px);
    background-size: 575px auto, auto;
  }

  &--inner {
    background-image: none;
  }
}

.main__title {
  margin: 0;
  padding: 70px 30px 120px 30px;


  color: #000000;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;

  &--inner {
    padding-bottom: 75px;

    background-color: #f1f1f1;
  }
}

.main__text {
  margin: 0;
  padding: 25px 30px 20px 30px;

  font-size: 13px;
  line-height: 24px;
}


@media (min-width: $tablet-width) {
  .main {
    margin-top: -59px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }

    &--inner {
      background-image: none;
    }
  }

  .main__title {
    width: 670px;
    height: 625px;
    margin: 0 auto;
    padding: 0;
    padding-top: 150px;
    font-size: 43px;
    line-height: 50px;

    &--inner {
      width: auto;
      height: auto;
      padding-top: 95px;
      padding-bottom: 90px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: auto 24px;
      background-position: 0 100%;
      background-repeat: repeat-x;
    }
  }

  .main__text {
    margin: 0;
    padding: 60px 0 75px 0;
    font-size: 17px;
    line-height: 30px;
  }
}


@media (min-width: $desktop-width) {
  .main {
    margin-top: -40px;
    background-image: url("../img/hero-desktop@1x.jpg"), linear-gradient(to bottom, #f9f9f9 745px, #ffffff 745px);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg"), linear-gradient(to bottom, #f9f9f9 745px, #ffffff 745px);
      background-size: 1150px auto, auto;
    }

    &--inner {
      background-image: none;
    }
  }

  .main__title {
    margin: 0 auto;
    padding-top: 155px;
    font-size: 53px;
    line-height: 57px;

    &--inner {
      padding-top: 95px;
      padding-bottom: 115px;
      background-size: auto 34px;
    }
  }

  .main__text {
    padding: 105px 175px 75px 175px;
  }
}
