.main-nav {
  position: relative;
  z-index: 10;

  margin: 0;
  padding: 0;

  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  &--closed {
    .main-nav__toggle {
      background-image: url("../img/icon-menu-open.svg");
    }
  }

  &--opened {
    .main-nav__toggle {
      background-image: url("../img/icon-menu-close.svg");
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: -82px;
  right: 2px;

  @include size(80px);
  margin: 0;
  padding: 0;

  font-size: 0;

  background: none;
  background-position: center;
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  border-bottom: 1px solid #dfdfdf;
}

.main-nav__link {
  display: block;

  padding: 25px 30px 29px 75px;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    &--closed {
      .main-nav__list {
        display: none;
      }
    }

    &--opened,
    &--nojs {
      .main-nav__list {
        display: block;
      }
    }

    &--nojs {
      .main-nav__toggle {
        display: none;
      }
    }
  }
}


@media (min-width: $tablet-width) {
  .main-nav {
    min-width: 335px;

    font-size: 15px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__item {
    padding: 0;
    margin-right: 37px;

    border: none;
  }

  .main-nav__link {
    display: block;
    max-width: 175px;
    padding: 17px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


@media (min-width: $desktop-width) {
  .main-nav {
    min-width: 370px;
    font-size: 17px;
  }

  .main-nav__list {
    padding: 0;
  }

  .main-nav__item {
    margin: 0;
    padding: 0;

    &:not(:last-of-type) {
      margin-right: 35px;

      border-right: 1px solid #dfdfdf;
    }
  }

  .main-nav__link {
    max-width: 200px;
    padding: 30px 35px 35px 0;
  }
}
