.nav {
  display: none;
  line-height: 24px;
  font-weight: 700;
}

.nav__link {
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}


@media (min-width: $desktop-width) {
  .nav {
    display: flex;
    min-width: 350px;
    margin: 0;
    padding: 0;
    padding-top: 17px;
    list-style: none;
  }

  .nav__item {
    max-width: 175px;
    margin: 0;
    margin-right: 60px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
